<!DOCTYPE html>
<html lang="en">
  
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

<body>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container-fluid">

      <div class="logo">

        <a href="{{ url_for('home') }}"><img src="static/img/screen_savers.png" alt="screensavers"
            class="img-fluid"></a>
      </div>

      <button type="button" class="nav-toggle"><i class="bx bx-menu"></i></button>
      <nav class="nav-menu">
        <ul>
          <li class="active"><a href="#header" class="scrollto">Home</a></li>
          <li><a href="#about" class="scrollto">Benefits</a></li>
          <li><a href="#why-us" class="scrollto">Why Us</a></li>
          <li><a href="#contact" class="scrollto">Contact Us</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End #header -->

  <!-- ======= New Hero Section ======= -->
<section id="hero">
    <div class="hero-container py-5">
      <div class="row py-5 align-items-center">
        <div class="col-lg-6">
          <h1 class="black-heading display-4 mb-4 font-weight-bold text-center text-lg-left">Screen Savers</h1>
          <p class="lead mb-5 text-black-50 text-center text-lg-left">Quality Window Screen Repair Services</p>  
        </div>
        
        <div class="col-lg-6 text-center mt-5 mt-lg-0">
          <div class="lead-form rounded p-5">
            <div>
              <h3 class="font-weight-bold">Get a Quote!</h3>
              <h6 class="text-black-50 pt-3 pb-4 small font-weight-bold">Fill all fields so we can send some info.<br>We'll never send you spam</h6>
            </div>
            {{ wtf.quick_form(form, button_map={"submit": "primary"}) }}
          </div>
        </div>
      </div>
    </div>
</section><!-- End #hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <img src="static/img/window_screen_repair.jpeg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <h3>Are you tired of dealing with damaged window screens in your apartment? We have the perfect solution for
              you!</h3>
            <br>
            <li> Restore your privacy and security</li>
            <li> Keep insects and pests out</li>
            <li> Enjoy fresh air without worries</li>
            <li> Improve the appearance of your apartment</li>
            <li> Pet-Proof and Animal-Proof Screens</li>
            </ul>
            <br>
            <p>
              Don't let damaged window screens compromise your comfort, security, and enjoyment of your home or
              apartment.
              Contact us today to experience the numerous benefits of our window screen fixing services.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="card">
              <div class="card-icon">
                <i class="fa-solid fa-house"></i>
              </div>
              <div class="card-body">
                <h5 class="card-title">Our Mission</h5>
                <p class="card-text"> We are dedicated to providing top-quality window screen fixing services for
                  homeowners and apartment residents alike.
                  Our mission is to deliver efficient and reliable solutions to all your window screen needs, ensuring
                  your satisfaction every step. </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="card">
              <div class="card-icon">
                <i class="fa-solid fa-hammer"></i>
              </div>
              <div class="card-body">
                <h5 class="card-title">Expert Solutions</h5>
                <p class="card-text"> We bring extensive knowledge and expertise to every project,
                  ensuring that your window screens are repaired care. We also understand the importance of timely
                  solutions.
                  Count on us to promptly address your window screen issues, minimizing any inconvenience to you. </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="card">
              <div class="card-icon">
                <i class="fa-solid fa-user"></i>
              </div>
              <div class="card-body">
                <h5 class="card-title">Customer Satisfaction</h5>
                <p class="card-text">Your satisfaction is our ultimate goal. We are committed to providing exceptional
                  service, transparent communication,
                  and exceeding your expectations. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Why Us Section -->


    <!-- ======= Frequenty Asked Questions Section ======= -->
    <section class="faq">
      <div class="container">

        <div class="section-title">
          <h2>Frequenty Asked Questions</h2>
        </div>

        <ul class="faq-list">

          <li>
            <a data-bs-toggle="collapse" class="collapsed" data-bs-target="#faq1"> What types of materials do you use
              for window screen repairs?
              <i class="bx bx-down-arrow-alt icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p>
                We utilize a range of high-quality materials to ensure durable and effective window screen repairs.
                Fiberglass: Fiberglass screens are a popular choice due to their cost, flexibility, and resistance to
                corrosion. They provide excellent visibility and airflow while effectively keeping bugs out.
                Aluminum: Aluminum screens offer more strength than fiberglass. They are known for their sturdiness,
                making them a great option for areas with harsh weather conditions.
                Pet Screening: For pet owners seeking extra durability, we offer pet screening made from vinyl-coated
                polyester. This specialized screening is designed to withstand the playful antics of pets, including
                dogs and cats, providing added protection against scratches and tears.
              </p>
            </div>
          </li>

        </ul>

      </div>
    </section><!-- End Frequenty Asked Questions Section -->

    <!-- ======= Contact Us Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Contact Us</h2>
        </div>

        <div class="row justify-content-center">

          <div class="col-lg-3 col-md-5 mb-5 mb-md-0">
            <div class="info">
              <div class="address">
                <i class="bx bx-map"></i>
                <p>Westchester, NY</p>
              </div>

              <div class="email">
                <i class="bx bx-envelope"></i>
                <p><a href="mailto:screensaverswc@gmail.com">screensaverswc@gmail.com</a></p>
              </div>

              <div class="phone">
                <i class="bx bx-phone-call"></i>
                <p><a href="tel:(914) 249-9646">(914) 249-9646</a></p>
              </div>
            </div>

            <div class="social-links">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-5 col-md-7">
            {{ wtf.quick_form(form, button_map={"submit": "primary"}) }}
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}
          </div>

        </div>

      </div>
    </section><!-- End Contact Us Section -->

  </main><!-- End #main -->

  <!-- Vendor JS Files -->
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.0/js/bootstrap.bundle.min.js"></script>

</body>

{% include "footer.html" %}
{% endblock %}

</html>